<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Informatik_2/src/aufgabe/elf/PostfixAusdruecke.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="aufgabe.elf.PostfixAusdruecke"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Informatik_2"/>
</launchConfiguration>
